* {
  box-sizing: border-box;
} 


body{
  color: navy;
  background-color: #fffd81;
}

header {
  text-align: center;
  background-color: hsla(298, 100%, 33%, 0.658);
  color: white;
  padding: 0%;
  border-color: #fffd81;
  border-radius: 0%;
  border-style:dashed;
  font-size: 0.8em;
}


#profilepicture {
  border-radius: 100%;
}

h1{
  text-decoration-color:aqua;
  color: cornsilk;
  font-size: 4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#intro {
font-size: 2em;
padding-left: 5%;
text-align:left;
}

section{
  display: flex;
}

menu {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  border-radius: 0%;
  border-style:ridge;
  border-color: black;
  padding-right: 12%;
  padding-left: 8%;
  background-color: gainsboro;
  margin-top: 0.5%;
  padding-top: 1%;
  padding-bottom: 1%;
}


#ContactInfo {
  list-style-type: none;
  padding-left: 0%;
}

#Interests {
  list-style-type: none;
  padding-left: 0%;

}

#sidebar {
  padding-right: 3%;
  background-color: aquamarine;
  color: gray;
  padding-top: 3%;
  padding-left: 3%;
  font-size: 1.2em;
}


#content {
  padding-top: 8%;
  width: 100%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2em;
  padding-left: 8%;
  color: navy;
}

h2{
  text-decoration: underline;
  text-decoration-color: navy;
}

.References {
  list-style-type: none;
}

footer{
  padding-top:0.5%;
  background-color:darkslategrey;
  text-align: center;
  color: antiquewhite;
  font-size: 2em;
}

#scratch{
  border-radius: 100%;
}

#phoneicon{
  border-radius: 100%;
}

#Cellphone{
  color: black;
  font-size: 2em;
}